/*@import '/home/jon/.config/wofi/catppuccin.css';*/
@import url("file:///home/jon/.cache/wal/colors-waybar.css");
* {
    font-family: 'CaskaydiaCove Nerd Font mono';
    font-size: 14px;
 }

 /* Ventana */
 window {
    margin: 0px;
    padding: 10px;
    border-radius: 10px;
    background-color: @background;
 }

 /* Caja interna */
 #inner-box {
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: @background;
 }

 /* Caja externa */
 #outer-box {
    margin: 5px;
    padding: 10px;
    border: none;
    background-color: @background;
    border-radius: 5px;
 }

 /* Scroll */
 #scroll {
    margin: 0px;
    padding: 10px;
    border: none;
 }

 /* Entrada */
 #input {
    margin: 5px;
    padding: 10px;
    border: none;
    color: @color2;
    background-color: @color0;
    border: 2px solid @color2;
    color: @color9;
 }

 /* Texto de resultados*/
 #text {
    margin: 5px;
    padding: 10px;
    border: none;
    color: @color4;
 }

 /* Entrada seleccionada */
 #entry:selected {
   background-color: @background;
   outline: 1px solid @color2;
 }

 #entry:selected #text {
    color: @color9;
 }
 image {
   margin-left: 10px;
 }


